
h1{
    text-align: center;
    margin: 100px;
    color: #ffffff;
    font-size: 50px;
}

body{
    background-image: url("construction-1921518_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    
}

